/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Lora:wght@400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Lora:wght@400;500;600&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Lora', serif; */

/* -------------- */
/* Variables */

:root {
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);

  --color_white: hsla(0, 0%, 100%, 0.75);
  --color_gray: hsl(0, 0%, 95%);
}

/*---- Resets */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.75%;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color_gray);
  color: var(--color_white);
}

article {
  padding: 3rem;
  width: 90%;
  background-color: var(--dark_cyan);
}

article h2 {
  text-transform: uppercase;
  padding: 1rem 0 1rem;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 400;
}

article img {
  display: block;
  height: 2rem;
  width: 2rem;
}

article button {
  padding: 0.75rem 2rem;
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  color: var(--dark_cyan);
  background-color: var(--color_gray);
  font-weight: 400;
}

.article_desc {
  padding: 1rem 1rem 1rem 0;
  line-height: 1.5;
  font-family: 'Lexend Deca', sans-serif;
  color: var(--color_white);
}

article:first-of-type {
  background-color: var(--bright_orange);
  border-radius: 0.3rem 0.3rem 0 0;
}

article:last-of-type {
  background-color: var(--very_dark_cyan);
  border-radius: 0 0 0.3rem 0.3rem;
}

article:first-of-type button {
  color: var(--bright_orange);
}

article:last-of-type button {
  color: var(--very_dark_cyan);
}

@media only screen and (min-width: 1440px) {
  .container {
    flex-direction: row;
    height: 100vh;
  }

  article {
    padding: 2rem;
    height: 50vh;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  article img {
    width: 2.5rem;
  }

  .article_desc {
    height: 14rem;
  }

  article:first-of-type {
    border-radius: 0.3rem 0 0 0.3rem;
  }

  article:last-of-type {
    border-radius: 0 0.3rem 0.3rem 0;
  }
}
